body {
    font-family: "Arial";
    /*background-color: aqua;*/
}

.highlight{
    color: red;
    font-style: italic;
}

h2 #bumble {
    line-height: 1.2;
}

ul, li {
    
}
h2 {
    text-transform: uppercase;
}
.category {
    border: 1px solid blue;
    font-size: .875em;
}
a {
    text-decoration: none;
    color: #0000ff;
    font-weight: bold;
}
ul {
    background-color: rgb(255, 240, 23);
}
img{
    margin: 0 auto;
    display: block;
}